.col-md-4 {
    display: none;
    padding: 20px;
    text-align: center;
    margin-top: 15%;
    color: teal;
    size: 40%;
}

div#column_1.col-md-4 {
    border-right: 2px solid teal;
    padding-top: 7%;
}

div#column_3.col-md-4 {
    border-left: 2px solid teal;
    padding-top: 7%;
}

.rolling {
    padding-top: 2px;
}

#main_title {
    color: teal;
    padding: 2px;
    /* font-family: sans-serif; */
    text-align: center;
    text-decoration-line: underline;
    margin-top: 25%;
}

#player_names {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: teal;
    size: 50px;
}

.btn {
    background-color: teal;
    color: white;
    size: inherit;
    width: 50%;
}

button {
    background-color: teal;
    color: white;
    border-radius: 10%;
    size: inherit;
    width: 40%;
    margin-right: 10%;
    margin-top: 4%;
}

body {
    background-image: url("../images/die2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#rolled {
    text-align: center;
    color: red;
}

#Current {
    color: red;
}

h2#player1 {
    color: black;
}

h2#player2 {
    color: black;
}